<h1 class="task-header">List of Tasks</h1>
<div class="task-container">
  <ul class="task-list">
    <li *ngFor="let task of tasks" class="task-item">
      <div class="task-buttons">
        <app-child [task]="task"></app-child>
        <button (click)="editTask(task)" class="edit-button">Edit</button>
        <button (click)="deleteTask(task)" class="delete-button">Delete</button>
      </div>
    </li>
  </ul>
</div>


<div *ngIf="!selectedTask" class="task-form">
  <h2>Add Task</h2>
  <form (submit)="addTask()">
    <div>
      <label>Title:</label>
      <input type="text" [(ngModel)]="newTask.title" name="title" required />
    </div>
    <div>
      <label>Description:</label>
      <textarea
        [(ngModel)]="newTask.description"
        name="description"
        required
      ></textarea>
    </div>
    <div>
      <label>Due Date:</label>
      <input
        type="date"
        [(ngModel)]="newTask.dueDate"
        name="dueDate"
        required
      />
    </div>
    <button type="submit" class="add-button">Add Task</button>
  </form>
</div>

<div *ngIf="selectedTask" class="task-form">
  <h2>Edit Task</h2>
  <form (submit)="updateTask()">

    <div>
      <label>Title:</label>
      <input
        type="text"
        [(ngModel)]="selectedTask.title"
        name="title"
        required
      />
    </div>

    <div>
      <label>Description:</label>
      <textarea
        [(ngModel)]="selectedTask.description"
        name="description"
        required
      ></textarea>
    </div>

    <div>
      <label>Due Date:</label>
      <input
        type="date"
        [(ngModel)]="selectedTask.dueDate"
        name="dueDate"
        required
      />
    </div>

    <button type="submit" class="update-button">Update Task</button>
  </form>
</div>
